{% extends 'base.html' %}
{% load static %}

{% block title %} About Page {% endblock title %}

{% block content %}

    <div class="aboutMe">
        <div class="photo">

        </div>
        <div class="aboutMeText">
            <h1>About Me</h1>
            <h5>Full Stack Developer</h5>
            <p>I'm a passionate Developer who genuinely enjoys writing code—even in my free time. Whether it's building side projects or experimenting with new tech, I love the process of solving problems and creating something meaningful. Outside of code, I play guitar and sing—music is another creative outlet that keeps me sharp and inspired. For me, both coding and music are about flow, expression, and constantly leveling up.</p>
            <br>
            <p class="skills">JavaScript</p>
            <p class="skills">Python</p>
            <p class="skills">ReactJS</p>
            <p class="skills">Django</p>
            <p class="skills">Figma</p>
            <p class="skills">TypeScript</p>
        </div>
    </div>

{% endblock content %}