/* General */

:root {
    --background-color: #282a36;
    --heading-font: "Orbitron", sans-serif;
    --body-font: "Rubik", sans-serif;
    --font-color: #f8f8f2;
    --accent: #8be9fd;
}


html {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--font-color);
    scroll-behavior: smooth;
}

p {
    font-family: var(--body-font);
}

h5 {
    color: #bd93f9;
}

/* header */

#navbar {
    z-index: 1000;
}

.nav-options {
    transition: max-height 0.3s ease;
    font-family: var(--heading-font);
}

.nav-options a {
    margin: 1rem 0px;
}

.nav-btn label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.nav-btn label span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f8f8f2;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* about me */

#aboutMe {
    scroll-margin-top: 5rem;
}
.aboutMe {
    display: flex;
}
.aboutMeText {
    text-align: center;
    width: 90%;
    margin: 20px;
}
.aboutMeText h1, h5 {
    margin: 20px;
    font-family: var(--heading-font);
}

.photo {
    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 45%;
    margin: 0 auto;
}

.skills {
    display: inline-block;
    background-color: #ffb86c;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: var(--body-font);
    color: var(--background-color);
}

/* project section */


.card {
    background-color: #bd93f93f;
    border-radius: 5%;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.projectName {
    font-size: 1.5rem;
}

#projects {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    scroll-margin-top: 5rem;
}

/* experience section */

#experience {
    width: 80%;
    margin: 0 auto;
    scroll-margin-top: 5rem;
}
#experience fieldset {
    border: none;
    border-top: 1px solid var(--accent);
    padding: 10px 0;
    margin: 10px;
    position: relative;
    text-align: left;
    z-index: 1;
}
#rightCard {
    text-align: right;
}
#rightCard fieldset {
    text-align: right !important;
}
#rightCard h6 {
    margin: 0 0 0 15px !important;
}
#experience fieldset h6 {
    margin: 0 10px 0 0;
    font-size: 1rem;
}
#experience h5 {
    font-size: 1.5rem;
}

#experience ul {
    padding-left: 20px;
    margin: 0;
    list-style-position: inside;
}

.experienceTitle {
    text-align: center;
}
.experienceDate {
    display: block;
    margin: 15px;
}

li {
    display: list-item;
}

/* contact section  */

#contact {
    width: 60%;
    margin: 5rem auto 5rem auto;
}
#contact h5 {
    font-size: 1.5rem;
    text-align: center;
}
.input-container {
    position: relative;
    margin-bottom: 20px;
}
#contact input,
#contact textarea {
    width: 100%;
    padding: 14px 10px 6px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background: white; 
}
#contact input::placeholder,
#contact textarea::placeholder {
    color: transparent;
}
#contact label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #777;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    padding: 0 5px;
}
#contact input:focus + label,
#contact input:valid + label {
    top: 5px;
    left: 10px;
    font-size: 0.5rem;
    color: #333;
}
#contact textarea:focus + label,
#contact textarea:valid + label {
    top: 5px;
    left: 10px;
    font-size: 0.8rem;
    color: #333;
}
.success-message {
    /* position: fixed;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: #4CAF50;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 4s forwards;
    z-index: 9999;
    font-size: 1rem;
}
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}
.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contactBtn {
    margin: 0 auto;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    border: 2px solid var(--accent);
    background-color: transparent;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contactBtn:hover {
    background-color: var(--accent);
    color: var(--background-color);
}

