{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Portfolio - Angel {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediaQueries.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>

    
    <header id="navbar">
        
        
        <div class="header-left-side">
            <a href="#">
                <h1>Angel V</h1>
            </a>
        </div>
        
        
        <div class="header-right-side">
            <!-- Hamburger Button -->
            <input type="checkbox" id="nav-check" hidden>
            <div class="nav-options">
                <a href="{% url 'home' %}#aboutMe">About Me</a>
                <a href="{% url 'home' %}#projects">Projects</a>
                <a href="{% url 'home' %}#experience">Experience</a>
                <a href="{% url 'home' %}#contact">Contact Me</a>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            
            
        </div>
        
        
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>